EmiliaAnimeBot/config.py
EmiliaAnimeBot/*.session
EmiliaAnimeBot/*.session-journal
EmiliaAnimeBot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
EmiliaAnimeBot/modules/helper_funcs/temp.txt
EmiliaAnimeBot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
saitama.session-journal
updates.txt
*.exe